/*메인 페이지 css*/

html,body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family:sans-serif;    
    background-image:url(../img/m26.jpg); 
    
} 
#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: whitesmoke;
	border: 2px solid #555555;
}

a{
    color: darkgray;
    size: 13px;
    text-decoration: none;
}
a:hover{
    color: dodgerblue;
    text-decoration: underline;
}

#fullpage {
    position:relative;
    top:0px;
    z-index:1;
    width:100%;
    height:100%;
} 
.fullsection{
    width:100%;
    height:100%;
    position:relative;
} 
.full1{
    background:white;
	z-index: 1; 
} 
.full2{
    background:white;
    z-index: 1; 
} 
.full3{
    background:white;
    z-index: 1; 
} 
.full4{
    background:white;
    z-index: 1; 
} 
.full5{
    background:white;
    z-index: 1; 
} 
#fullpage span{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:4em;
    font-weight:bold;
}
ul, li{
    margin:0;
    padding:0;
    list-style:none
} 
.quick {
    position:fixed;
    right:20px;
    top:50%;
    transform:translateY(-50%); 
    z-index:2;
} 
.quick li {
    width:10px;
    height:10px;
    margin-bottom:10px; 
    border-radius:15px;
    border:2px solid #fff;
    /* cursor:pointer; */
} 
.quick .on {
    background:#fff;
}

/*사이드박스1*/
#sidebox1 { 
    z-index: 2;
    border-radius: 5px;    
    background-color:whitesmoke; 
    position:absolute; 
    width:200px; 
    height: 100px;
    top:10px; 
    left:10px; 
    padding: 3px 10px     
}    
#loginbox{    
    z-index: 2; 
    font-size: 13px;
}

/*사이드박스2*/
#sidebox2 { 
    z-index: 2;
    border-radius: 5px;    
    background-color:whitesmoke; 
    position:absolute; 
    width:200px; 
    height: 200px;
    top:135px; 
    left:10px; 
    text-align: center;    
    padding: 3px 10px 
} 
#menubox{    
    z-index: 2;  
    width: 200px;   
}

/*사이드박스3*/
#sidebox3 { 
    color: silver;
    z-index: 2;
    border-radius: 5px;    
    background-color:whitesmoke; 
    position:absolute; 
    width:200px; 
    height: 50px;
    top:360px; 
    left:10px; 
    padding: 3px 10px     
}

/*메인 박스*/
#td{
    margin: 0 auto;
    width: 1200px; 
}
#box{
	margin: 0 auto;
    border-radius: 5px;
    border: 1px solid silver;    
    z-index: 2;     
    width: 1200px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 10px;  
    align-content: center;
    background-color: white;
    opacity: 80%;  
} 

/*1번 페이지*/
#mainfont1{
    font-size: 60px;
    font-family: 'Black Han Sans', sans-serif;
    color: dodgerblue
}
#mainfont2{
    font-size: 40px;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
}
#box1{
	margin-left:100px;	
     
}

/*1번 페이지 검색*/
#sch{
	margin-left:50px;
    background-image: url(../img/ssch.jpg);
    width: 1000px;
    height: 100px;
}
#schtext{    
    margin-left: 450px;
    margin-top: 20px;
    width: 500px;
    height: 50px;
    font-size: 30px;
}
/*2번 페이지*/
#box2{
	margin: 0 auto;
    border-radius: 5px;    
    z-index: 2; 
    border: 1px solid silver;
    width: 550px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
    align-content: center;
    background-color: white;     
}
#ex{
    padding: 4px;
    border-bottom:1px solid silver ;
    border-top:1px solid silver ;
    height: 205px
}
#bookInfo{
 padding:10px;
 font-size: 14px; 
}
#title{
    font-family: 'Black Han Sans', sans-serif;
    color: dodgerblue;
    font-size:30px
}
.scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
 }
/*3번 페이지*/
#box3{ 
	margin: 0 auto;
    border-radius: 5px;    
    z-index: 2; 
    border: 1px solid silver;
    width: 1000px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
    align-content: center;
    background-color: white;     
}
#event{
    padding: 4px;
    border-bottom:1px solid silver ;
    border-top:1px solid silver ;
    height: 700px
}
#p3title{    
    color: silver;
    font-size:30px 
}

/*회원가입 및 로그인*/
#box4{ 
	margin: 0 auto;
    border-radius: 5px;    
    z-index: 2; 
    border: 1px solid silver;
    width: 650px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
    align-content: center;
    background-color: white;       
    
}

#policy{
    margin: 0 auto;
    padding-left: 50px;
}

#form1 .errors{
	font-size:13px;
	color:red;
	display: inline;
    position: relative;
	
}

/*도서관 소개*/
#box5{ 
	margin: 0 auto;
    border-radius: 5px;    
    z-index: 2; 
    border: 1px solid silver;
    width: 850px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
    align-content: center;
    background-color: white;          
}
#intro{
	border-bottom:1px solid silver ;
    border-top:1px solid silver ;
}

/*오시는길*/
#boxMap{ 
	margin: 0 auto;
    border-radius: 5px;    
    z-index: 2; 
    border: 1px solid silver;
    width: 1250px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
    align-content: center;
    background-color: white;           
}
#contentMap{
    width: 1000px;
    margin-left: 75px;
    border: 1px solid siver;
}
/*이용안내*/

#contentGuide{
    width: 500px;
    margin-left: 75px;
    border: 1px solid siver;
}
#boxGuide{ 
	margin: 0 auto;
    border-radius: 5px;    
    z-index: 2; 
    border: 1px solid silver;
    width: 1200px;
    height:820px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
    align-content: center;
    background-color: white;          
}
#tb1{
    border: solid 1px whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
}
#tb2{   
    border: solid 1px whitesmoke; 
    padding: 10px;
    text-align: center;
}
#introImg{
	margin-left:100px;
}

/*달력*/
#calLocation{
	margin-left:75px;
}

#calLocation2{
	margin-left:84px;
	width:800px;
	border-radius: 5px;
	border: 1px solid silver;
	background-image: url(../img/bookk.jpg);
}

#humu{
	color:red;
	font-size:20px;
}

/*도서 목록*/
#bookList{	
	width:1000px;
	margin-left:25px;
	padding : 20px;
	border-radius: 5px;
	border: 0px solid silver;
}
#boardTable{
	margin: 0 auto;
}

#button{
	float:right;
	background-color:dodgerblue;
	color:white;
	text-align:center;
	width:100px;
	height:22px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid silver;
	text-decoration:none;
}
#button:hover{
	float:right;
	background-color:white;
	color:black;
	text-align:center;
	width:100px;
	border-radius: 5px;
	border: 1px solid silver;
	text-decoration:none;
}


/*도서 상세정보*/
#bookInfomation{	
	width:1000px;
	margin-left:55px;
	padding : 20px;
	border-radius: 5px;
	border: 0px solid silver;
}
#borrow{	
	background-color:green;
	color:white;
	text-align:center;
	width:100px;
	border-radius: 5px;
	border: 1px solid silver;
	text-decoration:none;
}
#bookImage{
	width:350px;
	height:500px;
	background-image:url(../img/noimages.jpg);
	border-radius: 5px;
	border: 1px solid silver;
}
#booktitle{
	font-size:24px;	
}

/*도서 등록*/
#bookWriteInform{
	width:350px;
	height:300px;
}
.bookWriteSize{
	width:350px;
}
/*검색*/
#bookName{
	width:500px;
	height:50px;
	font-size:24px;
	margin-left:450px;
	margin-top:20px;	
}

/*자유게시판 글 상세 정보*/
#boardInfomation{	
	width:1000px;	
	padding : 20px;
	border-radius: 5px;
	margin-left:-100px;
	border: 0px solid silver;
}
/*자유게시판 글 등록*/
#boardWriteSize{
	width:500px;
}
#boardWriteInform{
	width:500px;
	height:300px;
}